@model UsersModel
@{
    ViewData["Title"] = "Igors Home Page";
}

@{
    if (Model.UserList != null)
    {
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    }
}

@{
    var accu = "";
    foreach (var element in Model.UserList)
    {
        accu += element + ", ";
    }
    accu = accu.Remove(accu.Length - 2);
}

@section Scripts {
    <script>
        $('#chooseOption').on("change", function () {
            if ($('#chooseOption').val() == "user") {
                $('.selectResult').text("@(Model.User)");
            }
            if ($('#chooseOption').val() == "userList") {
                $('.selectResult').text("@(accu)");
            }
        });
    </script>
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p> Es war der Benutzer  @(Model.User) auf dieser Seite</p>
    <p> Es waren die Benutzer @(accu) auf dieser Seite</p>
    <p>
        <select id="chooseOption" name="Options">
            <option disabled selected> -- select an option -- </option>
            <option id="testteset" value="user">User</option>
            <option value="userList">UserList</option>
        </select>
    </p>

    <p class="selectResult">test</p>

    <textarea name="displaySelected" rows="10" cols="30">
    </textarea>



    <p></p>




</div>
