@model OnlineShopWeb.Models.PasswordChangeModel
@{
    ViewData["Title"] = "Igors Home Page";
}

<br />
<br />

<form asp-action="ChangePassword" asp-controller="Login" method="post">

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <input type="hidden" asp-for="UserId" />

    <br />

    <label for="OldPassword">Old Password:</label>
    <input type="text" asp-for="OldPassword" />
    <span asp-validation-for="OldPassword" class="text-danger"></span>

    <br />

    <label for="Password">Password:</label>
    <input type="text" asp-for="Password" />
    <span asp-validation-for="Password" class="text-danger"></span>

    <br />

    <label for="RepeatPassword">Repeat Password:</label>
    <input type="text" asp-for="RepeatPassword" />
    <span asp-validation-for="RepeatPassword" class="text-danger"></span>

    <br />

    <input type="submit" value="Change Password" />

</form>