@model OnlineShopWeb.Models.LoginModel
@{
    ViewData["Title"] = "Igors Home Page";
    Layout = null;

}

<p>@(Html.ActionLink("Register", "Register", "Login", null, new { @class = "btn btn-secondary" }))</p>

<br />
<br />

<form asp-action="SignIn" asp-controller="Login" method="post">

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <label for="EMail">E-Mail:</label>
    <input type="text" asp-for="EMail" />
    <span asp-validation-for="EMail" class="text-danger"></span>

    <br />

    <label for="Password">Password:</label>
    <input type="text" asp-for="Password" />
    <span asp-validation-for="Password" class="text-danger"></span>

    <br />

    <input type="submit" value="Login" />

</form>