@using OnlineShopWeb.Domain
@model OnlineShopWeb.Models.CouponModel
@{
    ViewData["Title"] = "Igors Home Page";
}

<p>@(Html.ActionLink("Back", "Index", "Coupon", null, new { @class = "btn btn-secondary" }))</p>

<br />
<br />

<form asp-action=Update asp-controller="Coupon" method="post">


    <input type="hidden" asp-for="CouponId" />

    <br />


    <label for="Code">Code:</label>
    <input type="text" asp-for="Code" />
    <span asp-validation-for="Code" class="text-danger"></span>

    <br />

    <label for="Amount of Discount">Amount of Discount:</label>
    <input type="text" asp-for="AmountOfDiscount" />
    <span asp-validation-for="AmountOfDiscount" class="text-danger"></span>

    <br />

    <label>Type of Discount :</label>
    @Html.DropDownList("TypeOfDiscount",
            Html.GetEnumSelectList<TypeOfDiscount>(), "-- Select One --", new { @required = "required" })

    <br />

    <label for="Maximum Number of Uses">Maximum Number of Uses:</label>
    <input type="text" asp-for="MaxNumberOfUses" />
    <span asp-validation-for="MaxNumberOfUses" class="text-danger"></span>

    <br />

    <label for="StartDate">StartDate:</label>
    <input type="text" asp-for="StartDate" />
    <span asp-validation-for="StartDate" class="text-danger"></span>

    <br />

    <label for="EndDate">EndDate:</label>
    <input type="text" asp-for="EndDate" />
    <span asp-validation-for="EndDate" class="text-danger"></span>

    <br />
    <br />

    <input type="submit" value="Update" />

</form>
