@using OnlineShopWeb.Models
@model List<TransactionModel>
@{
    ViewData["Title"] = "Igors Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br />

    <table>
        <tr>
            <th>Final Price</th>
            <th style="padding-left: 10pt">Number of Coupons</th>
            <th style="padding-left: 10pt">Payment Date</th>
        </tr>

        @{
            foreach (var element in Model)
            {
                <tr>
                    <td> @(element.FinalPrice)</td>
                    <td> @(element.NumberOfCoupons)</td>
                    <td> @(element.PaymentDate)</td>
                </tr>
            }


        }



    </table>
</div>
