@model OnlineShopWeb.Models.UserModel
@{
    ViewData["Title"] = "Igors Home Page";
}

<p>
    <form asp-action="Index" asp-controller="User" method="get">
        <input type="submit" value="Back" />
    </form>
</p>

<p></p>
<p></p>

<form asp-action="Edit" asp-controller="User" method="post">


    <input type="hidden" asp-for="UserId" />

    <label for="FirstName">First name:</label>
    <input type="text" asp-for="FirstName" />
    <span asp-validation-for="FirstName" class="text-danger"></span>

    <p></p>

    <label for="LastName">Last name:</label>
    <input type="text" asp-for="LastName" />
    <span asp-validation-for="LastName" class="text-danger"></span>

    <p></p>

    <label for="Age">Age:</label>
    <input type="text" asp-for="Age" />
    <span asp-validation-for="Age" class="text-danger"></span>

    <p></p>

    <label for="Location.Country">Country:</label>
    <input type="text" asp-for="Location.Country" />
    <span asp-validation-for="Location.Country" class="text-danger"></span>

    <p></p>

    <label for="Location.City">City:</label>
    <input type="text" asp-for="Location.City" />
    <span asp-validation-for="Location.City" class="text-danger"></span>

    <p></p>

    <label for="Location.Street">Street:</label>
    <input type="text" asp-for="Location.Street" />
    <span asp-validation-for="Location.Street" class="text-danger"></span>

    <p></p>

    <label for="Location.PostalCode">Postal Code:</label>
    <input type="text" asp-for="Location.PostalCode" />
    <span asp-validation-for="Location.PostalCode" class="text-danger"></span>

    <p></p>
    <p></p>

    <input type="submit" value="Update" />

</form>
