@using System.Text.Json;
@using OnlineShopWeb.Models
@model ShoppingCartModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table>
    <tr>
        <th>Coupon Code</th>
        <th>Amount of Discount</th>
        <th>Type of Discount</th>
        <th></th>
    </tr>

    @{
        foreach (var element in Model.CouponModelList)
        {
            <tr>
                @{
                    <td> @(element.Code)</td>
                    <td> @(element.AmountOfDiscount)</td>
                    <td> @(element.TypeOfDiscount)</td>
                    <td>
                        <button type="button"
                                className="btn btn-default"
                                onClick="deleteCouponCode('@element.Code')">
                            Delete
                        </button>
                    </td>

                }

            </tr>
        }
    }

</table>