@using OnlineShopWeb.Domain
@model OnlineShopWeb.Models.ProductModel
@{
    ViewData["Title"] = "Igors Home Page";
}

<p>@(Html.ActionLink("Back", "Index", "Product"))</p>

<br />
<br />

<form asp-action="@ViewBag.ActionName" asp-controller="Product" method="post">

    @{
        if (ViewBag.ActionName == "Add")
        {
            <label for="ProductId">ProductId:</label>
            <input type="text" asp-for="ProductId" />
            <span asp-validation-for="ProductId" class="text-danger"></span>
            <p></p>
        }
        else if (ViewBag.ActionName == "Edit")
        {
            <input type="hidden" asp-for="ProductId" />
        }
    }

    <label for="Name">Name:</label>
    <input type="text" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>

    <br />

    <label for="Producer">Producer:</label>
    <input type="text" asp-for="Producer" />
    <span asp-validation-for="Producer" class="text-danger"></span>

    <br />

    <label>Category :</label>
    @Html.DropDownList("Category",
            Html.GetEnumSelectList<ProductCategory>(), "-- Select One --", new { @required = "required" })

    <br />

    <label for="Picture">Picture:</label>
    <input type="text" asp-for="Picture" />
    <span asp-validation-for="Picture" class="text-danger"></span>

    <br />
    <br />

    <input type="submit" value="Update" />

</form>
